<div id="ug16" class="ug16">
    <div class="ug16__header-container">
        <div class="ug16__header">
            <div class="ug16__header-left">
                <h4><a href="http://www.theguardian.com/education/universityguide">University guide</a></h4>
                <h5><a href="http://www.theguardian.com/education/series/guardian-students">Guardian students</a></h5>
                <div class="ug16__share-buttons"></div>
            </div>
            <div class="ug16__header-main">
                <h1 id="headStack2" style="color:#aad8f1">{{=it.headline}}</h1>
                <p id="headStackStandFirst">{{=it.standfirst}}</p>
            </div>
        </div>
    </div>

    <div class="ug16__animation-container">Loading…</div>

    <div class="ug16__content-container">
        {{?it.subject}}
            <p class="ug16__subject-messaging">
                This is the ranking for {{=it.subject}}.
                <a href="http://theguardian.com/education/ng-interactive/2015/may/22/university-league-tables-2016-the-complete-list">
                    Go back to the overall league table &raquo;
                </a>
            </p>
        {{?}}
        <h2 class="ug16__section">
            Find a course <span style="font-size: 12px">all fields optional</span>
        </h2>
        <div id="ug16__search-container">Loading…</div>
        <h2 class="ug16__section" id="rankings">UK universities ranked</h2>
        <div class="ug16__table-container">Loading…</div>
    </div>
</div>
