{{##def.courseli:course:
<li title="{{= course.name }}">
    <a href="{{= course.url }}" target="_blank">{{= course.name }}</a>
</li>
#}}
{{##def.institutiondiv:institution:
<div class="ug16-search-result">
    <h2 class="ug16-search__institution">
        {{= institution.name }}
        <div class="ug16-search__ranking">Ranked {{= institution.rank}} in subject, {{= institution.overall}} overall</div>
        <div class="ug16-search__count">
            {{= institution.courses.length }} course{{? institution.courses.length > 1 }}s{{?}}
        </div>
    </h2>
    <div class="ug16-search__course-list">
        {{?institution.courses.length <= 5}}
            <ul class="ug16-course-list">
                {{~institution.courses :course:j}}
                    {{#def.courseli:course}}
                {{~}}
            </ul>
        {{?}}
        {{?institution.courses.length > 5}}
            <ul class="ug16-course-list">
                {{~institution.courses.slice(0,3) :course:j}}
                    {{#def.courseli:course}}
                {{~}}
            </ul>
            <button class="ug16-search-result__untruncate">
                ${buttonSVG} Show all courses
            </button>
            <ul class="ug16-course-list ug16-search-result__extra-courses">
                {{~institution.courses.slice(3) :course:j}}
                    {{#def.courseli:course}}
                {{~}}
            </ul>
        {{?}}
    </div>
</div>
#}}
{{~it.subjects :subject:index}}
    <div class="ug16-search-subject">
        <h2 class="ug16-search-subject__name">
            <div style="font-size: 12px">courses within</div>{{= subject.name}}
            <a class="ug16-search-results__rankings-link" href="{{= subject.link}}">view rankings</a>
            <div class="ug16-search__count">
                {{= subject.institutions.length }} institution{{? subject.institutions.length > 1 }}s{{?}}
            </div>
        </h2>
        <div class="ug16-search-subject__results">
            {{?subject.institutions.length <= 3 || it.subjects.length == 1}}
                {{~subject.institutions :institution:i}}
                    {{#def.institutiondiv:institution}}
                {{~}}
            {{?}}
            {{?subject.institutions.length > 3 && it.subjects.length > 1}}
                {{~subject.institutions.slice(0, 2) :institution:i}}
                    {{#def.institutiondiv:institution}}
                {{~}}
                <button class="ug16-search-result__untruncate">
                    ${buttonSVG} Show all institutions
                </button>
                <div class="ug16-search-result__extra">
                    {{~subject.institutions.slice(2) :institution:i}}
                        {{#def.institutiondiv:institution}}
                    {{~}}
                </div>
            {{?}}
        </div>
    </div>
{{~}}
