.ug16__animation-container{


	.head-area-mobile{
      position:relative;
      background-color: #00456e;
      width:100%;
      height:48px;
      border-top: 1px solid #F1F1F1;
    }

    .head-content-mobile{
      position:relative;
      width:100%;
      height:auto;
      padding-left:10px;
      float:left;
      background-color: none;
	 }

	.head-content-mobile-left{
      position:relative;
      width:210px;
      height:48px;
      padding-left:20px;
      float:left;
    }

	.head-content-mobile-main{
      position:relative;
      width:210px;
      height:48px;
      padding-left:10px;
      float:left;
      background-color: none;
	 }

    .static-image-holder{
      position:relative;
      height: 64px;
      width:100%;
      background: url('assets/bg-mobile.gif');
      background-repeat: no-repeat;
      background-position: center top;
    }

	.head-area{
      position:relative;
      background-color: #00456e;
      width:100%;
      height:132px;
      border-top: 1px solid #F1F1F1;
    }

    .head-content{
      position:relative;
      width:100%;
      max-width:1300px;
      height:132px;
      margin-left: auto;
      margin-right: auto;
      background-color: #005689;
    }

    .head-content-left{
      position:relative;
      width:210px;
      height:84px;
      padding-left:20px;
      margin-bottom:48px;
      float:left;
      border-right: 1px solid #F1F1F1;
    }

	.head-content-main{
      position:relative;
      width:410px;
      height:132px;
      padding-left:10px;
      float:left;
      background-color: none;
	 }
	
	h1, h2, h3, h4, h5{
		color: #F1F1F1;
		margin:0;
	} 

    h1{
    	@include fs-headline(6);
    }

     h2{
    	@include fs-header(2);
    }

    h4{
    	@include fs-header(2);
    }

    h5{
    	@include fs-headline(3);
    }

    p{
    	@include fs-bodyCopy(2);
    	color: #F1F1F1;
    }

    
    .animation-holder{
      position:relative;
      height: 450px;
      width:100%;
    }

    .people, .bg-1, .bg-2, .bg-3, .bg-4{
      position:absolute;
      top:0px;
      width:100%;
      height:450px; 
    }

    .people{
      height:450px;
      width:100%;  
      background: url("assets/doods-sprite.png") center 0px repeat-y;
     
    }

    .bg-1{        
      background: url('assets/bg-1.png');
      background-repeat: repeat-x;
      background-position: right;
    }

    .bg-2{        
      background: url('assets/bg-2.png');
      background-repeat: repeat-x;
      background-position: right;

    }

    .bg-4{        
      background: url('assets/bg-4.png');
      background-repeat: repeat-x;
      background-position: right;

    }

   .bg-3{        
      background: url('assets/bg-3.gif');
      background-repeat: repeat-x;
      background-position: right;

    }

} 

	