.ug16-course-list {
    @include f-textSans;

    margin: 0;
    padding: 0;
    list-style: none;

    line-height: 1.5;

    li {
        border-top: 1px solid #eaeaea;
        padding: 3px 0;

        &:first-child {
            border-top: 0;
        }
    }

    a {
        color: #005689;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &::after {
            content: " \00BB";
        }
    }
}

