.ug16-course-list {
    @include f-textSans;

    margin: 0;
    padding: 0;
    list-style: none;

    a {
        color: #005689;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &::after {
            content: " \00BB";
        }
    }
}

