#ug16 {
	max-width: 1300px;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    select {
        border: 1px solid #9B9B9B;
        background: #fff;
        padding: 3px 5px;
        cursor: pointer;
        height: 30px;
        box-sizing: border-box;
        padding: 3px 5px;
    }
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }

.ug16__section {
    clear: both;
}
