#ug15 {
	max-width: 1300px;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }
