.ug16-search {
    background-color: #efefef;
    border-top: 2px solid #21c6dd;
    padding: 12px 0;
    position: relative;

    label {
        padding: 0 10px;
    }
    input {
        height: 30px;
        box-sizing: border-box;
        padding: 3px 5px;
    }
    button {
        border: none;
        border-radius: 4px;
        color: #ffffff;
        background-color: #005987;
        padding: 0 20px;
        height: 36px;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        &:hover {
            background-color: lighten(#005987, 5%);
        }
    }
    &, button {
        @include fs-textSans(4);
    }
}

.ug16-search-result {
    width: 50%;
    float: left;
    position: relative;
    margin-top: 12px;
    h2 {
        font-size: 16px;
        span {
            font-weight: normal;
        }
    }
    ul {
        @include fs-textSans(4);
        line-height: 28px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        li {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 20px;
            box-sizing: border-box;
            width: 100%;
        }
    }
}
